{% extends 'base.html' %}

{% block content %}
  <h3>Checking Account</h3>
  <p>Account Number: {{ checking_account.account_number }}</p>
  <p>Account Type: {{ checking_account.account_type }}</p>
  
  
  <div class="row">
    <div class="col s6">
      <a href="{% url 'checking_balance' checking_account.id %}" class="waves-effect waves-light btn">Balance</a>
    </div>
    <div class="col s6">
      <a href="{% url 'checking_transaction' checking_account.id %}" class="waves-effect waves-light btn">Transactions</a>
    </div>
  </div>
{% endblock %}