{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Document</title>
</head>
<body>
<h1>Savings Account</h1>
<h2>Transfer</h2>
<h3>You currently have a balance of {{ savings_account.balance }}</h3>
<p> How much would you like transfer into your checking account?</p>
<form method="POST" action="{% url 'savings_transfers' %}">
    {% csrf_token %}
    <input type="hidden" name="action" value="{{ action }}">
    {% if action == 'transfer' %}
    <label for="to_account">Transfer to:</label>
    <select name="to_account" id="to_account">
        <option value="{{ checking_account.id }}">Checking Account</option>
    </select>
    {% endif %}
    <br>
    <input type="radio" id="custom_amount" name="amount" value="other_amount">
    <label for="custom_amount">Other $ amount</label>
    <input type="text" name="custom_amount" id="custom_amount" value="" placeholder="Enter amount">
    <br>
    <input type="radio" id="10" name="amount" value="10">
    <label for="10">$10</label>
    <input type="radio" id="20" name="amount" value="20">
    <label for="20">$20</label>
    <input type="radio" id="50" name="amount" value="50">
    <label for="50">$50</label>
    <input type="radio" id="100" name="amount" value="100">
    <label for="100">$100</label>
    <br>
    <input type="submit" value="Submit">
</form>
</html>



