
  <h1>Hello, {{ first_name }}!</h1>
  <p>What can I help you with today?</p>
  <div class="navbar-nav ml-auto">
    <a href="{% url 'logout' %}" class="nav-link">Logout</a>
</div>
  <div class="container">
    <div class="row">
      <div class="col s6">
        <a href="{% url 'checking' %}" class="waves-effect waves-light btn-large">Checking</a>
      </div>
      <div class="col s6">
        <a href="{% url 'savings' %}" class="waves-effect waves-light btn-large">Savings</a>
      </div>
     
    </div>
  </div>
